<footer>
    <ul>
        <li class="<% if (index == 0) { %> this <% } %>">
            <a href="/">
                <div><span class="iconfont iconshouye2 iconfontY"><i></i></span></div>
                <p>首页</p>
            </a>
        </li>
        <li class="<% if (index == 1) { %> this <% } %>">
            <a href="/goodsClass">
                <div><span class="iconfont iconfenlei6"><i></i></span></div>
                <p>分类</p>
            </a>
        </li>
        <li class="<% if (index == 2) { %> this <% } %>">
            <div><span class="iconfont iconshenqingchengweiVIP"><i></i></span></div>
            <p>升级VIP</p>
        </li>
        <li class="<% if (index == 3) { %> this <% } %>">
            <div><span class="iconfont icongouwuche-5 iconfontY"><i><b>5</b></i></span></div>
            <p>购物车</p>
        </li>
        <li class="<% if (index == 4) { %> this <% } %>">
            <div><span class="iconfont iconwode_huaban iconfontY"><i></i></span></div>
            <p>我的</p>
        </li>
    </ul>
    <div class="mecoxlaneFooterHeight"></div>
</footer>